.Content {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
  color: rgb(0, 255, 106);
  text-shadow: rgb(31, 138, 63) 2px 2px;
  text-align: center;
}
.Form{
  margin-block: 3rem;
}
.Form h1{
  margin-bottom: 1.5rem;
}
